* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
}

.checkbox {
  height: 10rem;
  width: 40%;
}

.graph {
  height: 10rem;
  width: 60%;
  border: 1px solid;
}

.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: self-start;
  padding-left: 2rem;
  margin: 1rem 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency-code {
    margin-left: 1rem;
    font-size: 24px;
    font-weight: 500;
}

 label {
  position: relative;
  width: 40px;
  height: 40px;
}

.row input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.datePicker input {
  margin: 1rem;
  padding: 0.2rem 0.4rem;
  height: 2rem;
  width: 7rem;
}






label span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid;
  cursor: pointer;
}

img {
  margin-top: -8px;
}


